
<p class =" 
 mt-16  px-4  place-items-center 
 md:text-7xl
 text-5xl font-black leading-12
  md:ml-32
 tracking-tight 
 ">
 Sell your <span class ="text-button-color">used items</span> easily  <br>
  with <span class ="text-button-color">Sellsmart
</span></p> 

<p class="md:text-4xl text-2xl font-black mt-12 px-4 md:ml-32">
sign in to Sellsmart
</p>
<div class="md:mt-8 mt-6 ml-4 md:ml-36 ">
<%= link_to "Log in",  new_user_session_path, class:"bg-transparent border-black border-2 text-black
 hover:bg-black hover:text-white  hover:border-button-color hover:border-2 px-24 md:12
 p-2  rounded-full font-bold "%>
</div>
