<h1 class =" columns-1
 container 
 mx-auto px-4 
 text-6xl font-bold 
 content-center justify-center 
 leading-1 tracking-tight 
 pt-16 pl-12 ml-24">
 Sell your <span class ="text-button-color">used items</span> <br/> easily with <span class ="text-button-color">Sellsmart
</span></h1> 

