


<div class="font-bold text-lg  md:mr-4 drop-shadow-xl  hover:text-teal-400">
  <%= link_to "< Back to items", items_path, class:"m-2" %>
</div>

<div class=" grid place-items-center ">

<h1 class="font-bold text-3xl">Add an item</h1>

<%= render "form", item: @item %>
</div>

<br>
